<%- include('partials/header') %>
    
<div class="position-relative ">
    <img src="images/clg_history.jpg" class="d-block w-100 top-margin" alt="...">
    <div class="position-absolute top-50 start-5 translate-middle-y text-center text-md-start ps-3">
       <b><h1 class="text-black">Welcome  </h1> <h1 class="text text1">Kristu Jayanti College</h1> </b>
    </div>
</div>

<section>

    <div class="container my-5 text-center">
        <div class="section text-center">
            <h4 class="text_abt">About</h4>
          <h2>Kristu Jayanti College</h2>
          <p class="about_kjc">Kristu Jayanti College, founded in 1999, is managed by "BODHI NIKETAN TRUST", formed by the members of St. Joseph Province of the Carmelites of Mary Immaculate (CMI). The College is affiliated to Bengaluru North University and is reaccredited with grade 'A++' in 2021 by NAAC in the Third Cycle of Accreditation. The college is recognized by UGC under the category 2(f) & 12(B). The College has been accorded Autonomous Status since 2013 by the University Grants Commission, the Government of Karnataka & Bangalore University. In the NIRF 2022 rankings, the college was placed among the top 150 colleges in the country and ranks as one of the five colleges from Karnataka. The programmes of School of Management are internationally accredited by the Accreditation Council for Business Schools and Programs [ACBSP, USA]. The college was accorded ‘DBT Star College status under the strengthening component’ by the Department of Biotechnology, the Ministry of Science & Technology and the Government of India. 
            The institution strives to fulfill its mission to provide educational opportunities for all aspiring young people to excel in life by developing academic excellence, fostering values, creating civic responsibility, inculcating environmental concern and building global competencies in a dynamic environment.
            </p>
        </div>
        <div class="section">
            <h4 class="text_abt">About the </h4>
          <h3>Department of Computer Science (UG)</h3>
          <p class="about_cs">The Department of Computer Science has been an integral part of the college since its inception in 1999. Offering multidisciplinary courses in Computer Science, including BCA, BCA Analytics, BCA Cloud Computing, BCA Cyber Security, BSc AI/ML, BSc-IOT, and BSc Data Science, the department aims to prepare students for both employment opportunities and further studies in the field.
            Consistently recognized as the Best Emerging College of the Century at the National Level for Commerce, Science, and Arts, the department has also been ranked 4th Best in BCA among colleges in India. Each program equips students with the necessary skills to enter the workforce or pursue advanced studies and research.
            The department fosters continuous knowledge and skill enhancement by encouraging participation in conferences, seminars, workshops, and by facilitating the publication of research articles. Additionally, it organizes value-added certificate and bridge courses, as well as Inter and Intra Collegiate fests to provide students with practical experiences and networking opportunities.
            A distinctive feature of the department is its academic alliances with various industries to bridge the gap between academia and industry. Industry partners such as Celonis, QLIK, UiPath, SalesForce, Oracle Academy, Microsoft Dynamics Academic, ICT Academy, ACM-W, NPTEL, AWS Academy, Dell EMC, Palo Alto, Honeywell, SAP, Infosys, and VMware IT Academy collaborate with us to craft initiatives addressing contemporary skill gaps in novel computing technologies. These alliances ensure that students receive practical, up-to-date training that aligns with industry standards, enhancing their employability and competitiveness in the job market.
            </p>
        </div>
        <div class="section">
            <h4 class="text_abt">About the </h4>
          <h3>Lincoln University College</h3>
          <p class="about_lin">Lincoln University College (LUC), located in Petaling Jaya, Malaysia, was established in the year 2002 as 'Lincoln College (LC)' and later upgraded to Lincoln University College in the year 2011. Lincoln University College is one of the premier private institutions of higher education approved by the Ministry of Higher Education and Malaysian Qualifications Agency (MQA: National Accreditation Board). The University College is also accredited with a 6-STAR PLUS rating (Highest Achievable Rating) by the Ministry of Higher Education and has been holding this position forever. Lincoln University College is listed among the top nine Malaysian Universities & Colleges by the Employees Provident Fund (EPF), Malaysia. Lincoln University College is also an ISO 9001:2015 certified academic institution. Lincoln University College is also the Associate Member of the Association of Commonwealth Universities (ACU), London and a member of International Association of Universities (IAU), Paris.</p>
        </div>
      </div>



</section>
          
      
















<%- include('partials/footer') %>


  

  