<%- include('partials/header') %>
<section>

<div class="container my-5 container1 top-margin">
    <h1  class="text-center mb-4 text_c  mtp">Organizing Committee</h1>
    <p class="text-center mb-5">INCCI invites scholars to contribute to this committee for organizing major multi-disciplinary events. It coordinates all work required for Technical Program, Organizers, Speakers, Keynote Sessions, Industrial Sessions, Publications, Website Maintenance, and Publicity.</p>

    <div class="committee-section">
      <h3 class="text_c1" style="color: #159f84; font-weight: bold;">Chief Patrons</h3>
      <div class="line clr_1"></div>
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/about/img/fr/Fr-Augustine.jpg" alt="Fr. Dr. Augustine George CMI" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Fr. Dr. Augustine George CMI</h5>
                  <p class="card-text">Principal, Kristu Jayanti College (Autonomous)<br>Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://via.placeholder.com/100" alt="Dr. Divya Midhun Chakkaravarthy" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. Divya Midhun Chakkaravarthy</h5>
                  <p class="card-text">Head of Academic and Students Affairs,<br>Centre of Post Graduate Studies</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="committee-section">
      <div>
        <h3 class="text_c2" style="color: #3357cd; font-weight: bold;">Patrons</h3>
      <div class="line clr_2"></div>
      </div>
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/about/img/fr/Fr-Lijo.jpg" alt="Fr. Dr. Lijo P Thomas" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Fr. Dr. Lijo P Thomas</h5>
                  <p class="card-text">Vice Principal & CFO, Kristu Jayanti College (Autonomous)<br>Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/about/img/fr/Fr-Emmanuel.jpg" alt="Fr. Emmanuel P J CMI " class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Fr. Emmanuel P J CMI</h5>
                  <p class="card-text">Director, Kristu Jayanti College of Law<br>Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/about/img/fr/Fr-Som-new.jpg" alt="Fr. Som Zacharia CMI " class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Fr. Som Zacharia CMI </h5>
                  <p class="card-text">Director, Infrastructure Planning and
                    Development <br> Kristu Jayanti College (Autonomous), Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/about/img/fr/Fr-Joshy-new.jpg" alt="Fr. Joshy Mathew CMI" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Fr. Joshy Mathew CMI </h5>
                  <p class="card-text">Director, Library and Information Centre <br> Kristu Jayanti College (Autonomous), Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/about/img/fr/Fr-deepu.jpg" alt="Fr. Deepu Joy CMI" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Fr. Deepu Joy CMI</h5>
                  <p class="card-text">Director & SWO, Kristu Jayanti College (Autonomous)<br>Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/about/img/fr/Fr-Jais.jpg" alt="Fr Jais V Thomas CMI " class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Fr Jais V Thomas CMI </h5>
                  <p class="card-text">Financial Administrator, Kristu Jayanti College (Autonomous)<br>Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <div class="committee-section">
      <h3 class="text_c2" style="color: #159f84; font-weight: bold;">Chief Convendors</h3>
      <div class="line clr_1"></div>
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/images/faculty/Jude.jpg" alt="Dr. Calistus Jude" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. Calistus Jude</h5>
                  <p class="card-text">Dean, Faculty of Science,  Kristu Jayanti College (Autonomous)<br>Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/images/faculty/Sevuga%20Pandian.jpg" alt="Prof. A Sevuga Pandian " class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Prof. A Sevuga Pandian </h5>
                  <p class="card-text">Head, Department of Computer Science,  Kristu Jayanti College (Autonomous)<br>Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/images/faculty/Sasikumar.jpg" alt="Dr. Sasikumar V R " class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. Sasikumar V R </h5>
                  <p class="card-text">Coordinator, Department of Computer Science,  Kristu Jayanti College (Autonomous)<br>Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="committee-section">
      <h3 class="text_c2" style="color: #3357cd; font-weight: bold;">Conference Convendors</h3>
      <div class="line clr_2"></div>
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/images/faculty/Kalai%20Selvi.jpg" alt=" Dr. Kalaiselvi K " class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. Kalaiselvi K </h5>
                  <p class="card-text">Associate Professor, Dept. of Computer Science, <br> Kristu Jayanti College (Autonomous), Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/images/faculty/Ramanathan.jpg" alt="Mr. Ramanathan G  " class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Mr. Ramanathan G  </h5>
                  <p class="card-text">Assistant Professor, Dept. of Computer Science, <br> Kristu Jayanti College (Autonomous), Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="committee-section">
      <h3 class="text_c2" style="color: #159f84; font-weight: bold;">Advisory Committee</h3>
      <div class="line clr_1"></div>
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://media.licdn.com/dms/image/D4E03AQHc-alRn8HuKQ/profile-displayphoto-shrink_800_800/0/1674661479233?e=1721260800&v=beta&t=Szw0ul5lph36Y6HO67n7BwHWkpuZM6dh7DRNZDbpWUo" alt="Sharafudheen" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title"> Sarafudheen M Tharayil </h5>
                  <p class="card-text"> Sr Data Scientist, Saudi Aramco </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://via.placeholder.com/100" alt="Dr. M. Ramkumar Raja" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. M. Ramkumar Raja</h5>
                  <p class="card-text">Associate Professor,King Khalid
                    University, Abha</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://via.placeholder.com/100" alt="Dr. Yousuf" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. Yousuf</h5>
                  <p class="card-text">Dean,Moulavi Islamil university, Morocco</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://media.licdn.com/dms/image/C4D03AQHvNXwYfhi-HQ/profile-displayphoto-shrink_200_200/0/1602755978565?e=1721260800&v=beta&t=gbl6y-0nVWkbiEjwemsMJFklms5g42lrqzOV1_7zD9E" alt="Dr.B.Sundaravadivazgagan" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. B. Sundaravadivazgagan</h5>
                  <p class="card-text">University of Technology and Applied Sciences
                    Al Mussanah, Oman</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://via.placeholder.com/100" alt="Dr. Yousuf" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. Yousuf----</h5>
                  <p class="card-text">Dean,Moulavi Islamil university, Morocco</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://via.placeholder.com/100" alt="Dr. Yousuf" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. Yousuf---</h5>
                  <p class="card-text">Dean,Moulavi Islamil university, Morocco</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="committee-section">
      <h3 class="text_c2" style="color: #3357cd; font-weight: bold;">Organizing Committee</h3>
      <div class="line clr_2"></div>
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/images/faculty/Kalai%20Selvi.jpg" alt=" Dr. Kalaiselvi K " class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Dr. Kalaiselvi K---- </h5>
                  <p class="card-text">Associate Professor, Dept. of Computer Science, <br> Kristu Jayanti College (Autonomous), Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://www.kristujayanti.edu.in/academics/College-Arts-Science-Commerce/Faculty-Sciences/department-cs-ug/images/faculty/Ramanathan.jpg" alt="Mr. Ramanathan G  " class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">Mr. Ramanathan G ---- </h5>
                  <p class="card-text">Assistant Professor, Dept. of Computer Science, <br> Kristu Jayanti College (Autonomous), Bangalore(KA), IN-560077</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</section>







<%- include('partials/footer') %>


  

  