<%- include('partials/header') %>
<section>

<div class="container my-5 container1 top-margin">
    <h1  class="text-center mb-4 text_c  mtp">Contact us</h1>
    <p class="text-center mb-5">Have any queries? Contact to Organizing committee members.</p>

    <div class="committee-section">
      <h3 class="text_c1" style="color: #159f84; font-weight: bold;">Organizing Committee</h3>
      <div class="line clr_1"></div>
      <div class="container my-5">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://via.placeholder.com/100" alt="Fr. Dr. Augustine George CMI" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                  <h5 class="card-title">person 1</h5>
                  <p class="card-text">BCA<br>Dept of Computer Science UG</p>
                  <p class="card-text"><strong>Email: </strong> 22bcaf00@kristujayanti.com</p>
                  <p class="card-text"><strong>Ph. No: </strong> +91 98765 43211</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://via.placeholder.com/100" alt="Dr. Divya Midhun Chakkaravarthy" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                    <h5 class="card-title">person 2</h5>
                    <p class="card-text">BCA<br>Dept of Computer Science UG</p>
                    <p class="card-text"><strong>Email: </strong> 22bcaf00@kristujayanti.com</p>
                    <p class="card-text"><strong>Ph. No: </strong> +91 98765 43211</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card patron-card">
              <div class="card-body d-flex align-items-center">
                <div class="patron-image me-3">
                  <img src="https://via.placeholder.com/100" alt="Dr. Divya Midhun Chakkaravarthy" class="img-fluid rounded-circle">
                </div>
                <div class="patron-info">
                    <h5 class="card-title">person 3</h5>
                    <p class="card-text">BCA<br>Dept of Computer Science UG</p>
                    <p class="card-text"><strong>Email: </strong> 22bcaf00@kristujayanti.com</p>
                    <p class="card-text"><strong>Ph. No: </strong> +91 98765 43211</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="contact-section">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124441.57732337037!2d77.49677788975791!3d12.920617830663172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17578c79da7d%3A0xe96dcd8e2b982f8e!2sKristu%20Jayanti%20College%2C%20Autonomous!5e0!3m2!1sen!2sin!4v1715154684630!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>


</section>







<%- include('partials/footer') %>


  

  