<%- include('partials/header') %>
<section class="top-margin1">

<div class="container container1 my-5 cpf_body top-margin">
    <h1 class="text-center mb-4 mt-5">Call For Papers</h1>
    <p class="text-center mb-5 cpf_text">ICCI invites scholars to contribute to this conference by submitting original, unpublished, quality research results, Research Projects, Methodologies, Algorithms, surveys/reviews, Case studies and Industrial experiences like; societies significant advances in the field of Computational Intelligence in following areas:</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Internet of Things</h5>
                </div>
            </div>
        </div>
        <!-- Add more card elements for the remaining areas -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i>Big Data Analytics </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Optimization Algorithms </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i>Machine Learning </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Data Mining </h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i>Applied Cryptography</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Fuzzy Logic Systems</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i>Ad-hoc-wireless Networks</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Swarm Intelligence</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i> Soft Computing Business analytics</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i> Blockchain Technology Genetic Algorithms</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i> Information Security</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Interactive Communication</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i> Mobile Satellite Networks</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Internet of Things</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i>Internet of Things</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Internet of Things</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i>Internet of Things</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Internet of Things</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle2 me-2"></i>Internet of Things</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-circle fa-circle1 me-2"></i>Internet of Things</h5>
                </div>
            </div>
        </div>
    </div>
    
    <br><br>
    <p><strong class="text-danger">*</strong> ICCI 25 includes the above topic, but these topics are not limited.</p>
</div>

</section>






<%- include('partials/footer') %>


  

  