<%- include('partials/header') %>

<div class="position-relative ">
    <div class="background-gradient"></div>

    <img src="images/clg_history.jpg" class="d-block w-100 top-margin img-relative" alt="..." style="height: 100vh;">
    <div class="text-over-img container">
        <div class="text-zindex1">
            <b>
                <h1 class="text-black text-welcome">Welcome <span class="text-to">to</span></h1>
                <h1 class="text-icci">8th International Conference on Computational Intelligence (ICCI 2025)</h1>
                <h6 class="text-slng">Converging computational
                    excellence to transcend boundaries
                    through empowering innovation for
                    real-world challenges
                   </h6>
                <button type="registeration" class="registration-btn home-btn">Registration</button>
                <button type="contact" class="contact-btn home-btn">Contact us</button>
            </b>
        </div>
    </div>
</div>


<section>

    <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="content cnt1">
              <h3 class="text-center mb-4">ICCI Conference Preamble</h3>
              <p class="Preamble-txt">
                As part of academic enrichment, the Department of Computer Science (UIT) is organizing International conference on "Computational Intelligence" on February 26th and 27th, 2025. The primary objective of International Conference on Computational Intelligence (ICCI-2025) is to discuss the state-of-the-art developments, key approaches, research line, challenges and unsolved open problems encountered in the field of Computational Intelligence. The ICCI-2025 will bring together leading Academicians, Researchers, Engineers and Scientists in the domain of interest across the country by providing a platform to present new advances and research works and research outcomes in the field of Computational Intelligence. It will also assist to bridge the gap between research contributions provided by the academicians to meet the expectations of the research communities and IT practitioners. Besides the research gains, the conference will bring out the social, economic and environmental assets of our nation using these novel technologies. The Conference will bring together leading researchers worldwide by providing a platform to present new advances and research contributions.</p>
            </div>
          </div>
          <div class="col-md-4">
            <!-- Aside content goes here -->

            <aside class="sidebar">
                <div class="important-dates-container">
                  <div class="id-header">
                    <h4 class="id-title">Important Dates</h4>
                  </div>
                  <div class="id-timeline">
                    <div class="id-timeline-item">
                        <div class="outer">
                            <div class="id-timeline-icon id-icon-green"></div>
                        </div>
                        <div class="id-timeline-content">
                            <p>Abstract Submission: </p>
                            <p>30th January 2025</p>
                        </div>
                    </div>
                    <div class="id-timeline-item">
                      <div class="id-timeline-icon id-icon-blue"></div>
                      <div class="id-timeline-content">
                        <p>Submission of Research Articles:</p>
                        <p>15th February 2025</p>
                      </div>
                    </div>
                    <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-green"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                      <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-blue"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                      <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-green"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                      <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-blue"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                      <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-green"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                     
                    <!-- ... other timeline items ... -->
                  </div>
                </div>
              </aside>
             
                



          </div>
        </div>
      </div>

      <div class="mainbx">
        <div class="b1">
            <div class="ib1">

                <div class="b1_text">
                    <h5>Submission method</h5>

                </div>
            </div>
            <div class="center_item ib2">
                <p>Mail here to submit your paper</p>
                <a href="mailto:ncci@kristujayanti.com"><h6><b>ncci@kristujayanti.com</b></h6></a>

            </div>
            
        </div>
        <div class="b1">
            <div class="ib1 b1cr">
                <div class="b1_text">
                    <h5>Download Brochure</h5>

                </div>                
            </div>
            <div class="center_item ib2">
                <p>Download brochure from here!</p>
                <a href=""><h6><b>Download now</b></h6></a>
        
            </div>
            
        </div>
        <div class="b1">
            <div class="ib1">

                <div class="b1_text">
                    <h5>Abstracting and Indexing</h5>

                </div>
            </div>
            <div class="center_item ib2">
                <img src="images/v23_8.png" class="img-fluid b1_img" alt="abstarcting">
        
                    </div>
        </div>


      </div>

     
     
    




</section>

<%- include('partials/footer') %>
