<%- include('partials/header') %>
<div class="position-relative ">
    <img src="images/clg_history.jpg" class="d-block w-100 top-margin" alt="...">
    <div class="position-absolute top-50 start-5 translate-middle-y text-center text-md-start ps-3">
       <b><h1 class="text-black">Welcome  </h1> <h1 class="text text1">Kristu Jayanti College</h1> </b>
    </div>
</div>









<%- include('partials/footer') %>


  

  