<%- include('partials/header') %>

<div class="position-relative ">
    <div class="background-gradient"></div>
    <img src="images/clg_history.jpg" class="d-block w-100 top-margin img-relative" alt="..." style="height: 100vh;">
    <div class="text-over-img container">
        <div class="text-zindex1">
            <b>
                <h1 class="text-black text-welcome">Welcome <span class="text-to">to</span></h1>
                <h1 class="text-icci">8th International Conference on Computational Intelligence (ICCI 2025)</h1>
                <h6 class="text-slng">Converging computational
                    excellence to transcend boundaries
                    through empowering innovation for
                    real-world challenges
                   </h6>
                <button type="registeration" class="registration-btn home-btn" onclick="gotoRegistration()">Registration</button>
                <button type="contact" class="contact-btn home-btn" onclick="gotoContact()">Contact us</button>
            </b>
        </div>
    </div>
</div>


<section>
    <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="content cnt1">
              <h3 class="text-center mb-4">ICCI Conference Preamble</h3>
              <p class="Preamble-txt">
                The Department is proud to announce the upcoming 8th edition of International Conference on Computational Intelligence (ICCI 2025), scheduled for February 26th and 27th, 2025. The conference focuses on the theme –“Converging computational excellence to transcend boundaries through empowering innovation for real-world challenges”  This conference will serve as a platform to delve into the latest developments, approaches, research trends, challenges, and unresolved issues in Computational Intelligence.
ICCI-2025 aims to bring together distinguished Academicians, Researchers, Engineers, and Scientists from across the country to share their insights and present new advances and research outcomes in the field. Through this exchange of knowledge, the conference endeavours to narrow the gap between academic research and practical applications in Computational Intelligence.
ICCI-2025 will delve into the societal and commercial implications of Computational Intelligence, addressing its impact on diverse aspects of life, economy, and the environment. Through collaboration and knowledge exchange, the conference aims to promote the responsible and effective use of Computational Intelligence for societal and national advancement.


              </p>
              </div>
          </div>
          <div class="col-md-4">
            <!-- Aside content goes here -->
            <aside class="sidebar">
                <div class="important-dates-container">
                  <div class="id-header">
                    <h4 class="id-title">Important Dates</h4>
                  </div>
                  <div class="id-timeline">
                    <div class="id-timeline-item">
                        <div class="outer">
                            <div class="id-timeline-icon id-icon-green"></div>
                        </div>
                        <div class="id-timeline-content">
                            <p>Abstract Submission: </p>
                            <p>30th January 2025</p>
                        </div>
                    </div>
                    <div class="id-timeline-item">
                      <div class="id-timeline-icon id-icon-blue"></div>
                      <div class="id-timeline-content">
                        <p>Submission of Research Articles:</p>
                        <p>15th February 2025</p>
                      </div>
                    </div>
                    <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-green"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                      <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-blue"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                      <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-green"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                      <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-blue"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                      <div class="id-timeline-item">
                        <div class="id-timeline-icon id-icon-green"></div>
                        <div class="id-timeline-content">
                          <p>Submission of Research Articles:</p>
                          <p>15th February 2025</p>
                        </div>
                      </div>
                     
                    <!-- ... other timeline items ... -->
                  </div>
                </div>
              </asid>
            </div>
        </div>
      </div>

      <!-- <div class="mainbx">
        <div class="b1">
            <div class="ib1">

                <div class="b1_text">
                    <h5>Submission method</h5>

                </div>
            </div>
            <div class="center_item ib2">
                <p>Mail here to submit your paper</p>
                <a href="mailto:ncci@kristujayanti.com"><h6><b>ncci@kristujayanti.com</b></h6></a>

            </div>
            
        </div>
        <div class="b1">
            <div class="ib1 b1cr">
                <div class="b1_text">
                    <h5>Download Brochure</h5>

                </div>                
            </div>
            <div class="center_item ib2">
                <p>Download brochure from here!</p>
                <a href=""><h6><b>Download now</b></h6></a>
        
            </div>
            
        </div>
        <div class="b1">
            <div class="ib1">

                <div class="b1_text">
                    <h5>Abstracting and Indexing</h5>

                </div>
            </div>
            <div class="center_item ib2">
                <img src="images/v23_8.png" class="img-fluid b1_img" alt="abstarcting">
        
                    </div>
        </div>


      </div> -->


      <!-- <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title">Submission method</h5>
                    </div>
                    <div class="card-body">
                        <p>Mail here to submit your paper</p>
                        <a href="mailto:ncci@kristujayanti.com" class="card-link"><b>ncci@kristujayanti.com</b></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        <h5 class="card-title">Download Brochure</h5>
                    </div>
                    <div class="card-body">
                        <p>Download brochure from here!</p>
                        <a href="#" class="card-link"><b>Download now</b></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h5 class="card-title">Abstracting and Indexing</h5>
                    </div>
                    <div class="card-body">
                        <img src="images/v23_8.png" class="img-fluid" alt="abstarcting">
                    </div>
                </div>
            </div>
        </div>
    </div>
     -->
     
     <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="b1">
            <div class="ib1">
              <div class="b1_text">
                <h5>Submission method</h5>
              </div>
            </div>
            <div class="center_item ib2">
              <p>Mail here to submit your paper</p>
              <a href="mailto:ncci@kristujayanti.com"><h6><b>ncci@kristujayanti.com</b></h6></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="b1">
            <div class="ib1 b1cr">
              <div class="b1_text">
                <h5>Download Brochure</h5>
              </div>
            </div>
            <div class="center_item ib2">
              <p>Download brochure from here!</p>
              <a href=""><h6><b>Download now</b></h6></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="b1">
            <div class="ib1">
              <div class="b1_text">
                <h5>Abstracting and Indexing</h5>
              </div>
            </div>
            <div class="center_item ib2">
              <img src="images/v23_8.png" class="img-fluid b1_img" alt="abstarcting">
            </div>
          </div>
        </div>
      </div>
    </div>
    
</section>

<%- include('partials/footer') %>
