<%- include('partials/header') %>

<section>
    <div class="container my-5 container1 top-margin">
        <h1  class="text-center mb-4 text_c  mtp">Organizing Committee</h1>
        <p class="text-center mb-5">comming soon....</p>
        </div>
    


</section>








<%- include('partials/footer') %>


  

  