<%- include('partials/header') %>

<div class="container container1 my-5 submission-container">
    <h1 class="text-center mb-4 submission-heading mt-5">Registration</h1>

    <div class="section mb-4 submission-guidelines">
      <h3 class="submission-guidelines-heading text_c1">Registration Guidelines</h3>
      <div class="line clr_1"></div>
      <ul class="list-unstyled submission-guidelines-list">
        <li><i class="fas fa-circle fa-circle1 me-2 submission-guideline-icon"></i>Research papers submitted should not be previously published.</li>
        <li><i class="fas fa-circle fa-circle2 me-2 submission-guideline-icon1"></i>All accepted and presented papers will be submitted for the possible inclusion in Scopus and Web of Science Journal.</li>
        <li><i class="fas fa-circle fa-circle1 me-2 submission-guideline-icon"></i>Authors should take responsibilities for issues related to plagiarism (Must be less than 15%).</li>
        <li><i class="fas fa-circle fa-circle2 me-2 submission-guideline-icon1"></i>Articles should be submitted only through EasyChair.</li>
        <li><i class="fas fa-circle fa-circle1 me-2 submission-guideline-icon"></i>Submission Email: <strong><a href="mailto:ncci@kristujayanti.com">ncci@kristujayanti.com</a></strong></li>
        <li><i class="fas fa-circle fa-circle2 me-2 submission-guideline-icon1"></i>Conference website: <strong><a href="www.kristujayanti.edu.in/ncci">www.kristujayanti.edu.in/ncci</a></strong></li>
        <li><i class="fas fa-circle fa-circle1 me-2 submission-guideline-icon"></i>Only the research articles accepted and presented during the conference will be considered for publication.</li>
        <li><i class="fas fa-circle fa-circle2 me-2 submission-guideline-icon1"></i>Registration will be confirmed only after full payment of registration fee.</li>
      </ul>
    </div>

    <div class="section mb-4 submit-manuscript">
      <h3 class="submit-manuscript-heading text_c2 mt-5">Registration Fees</h3>
      <div class="line clr_2"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="price-card">
            <h4>Indian Delegates</h4>
            <p>Delegates from Industry/Academia <span class="float-right">₹13000</span></p>
            <p>Research Scholars/UG/PG Students <span class="float-right">₹11000</span></p>
            <p>Participant <span class="float-right">₹1250</span></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="price-card">
            <h4>Foreign Delegates</h4>
            <p>Delegates from Industry/Academia <span class="float-right">250 $</span></p>
            <p>Research Scholars/UG/PG Students <span class="float-right">200 $</span></p>
          </div>
        </div>
      </div>
      
    </div>


</div>


<%- include('partials/footer') %>


  

  