<%- include('partials/header') %>

<div class="container my-5 submission-container">
    <h1 class="text-center mb-4 submission-heading mt-5">Submission</h1>

    <div class="section mb-4 submission-guidelines">
      <h3 class="submission-guidelines-heading text_c1">Submission Guidelines</h3>
      <div class="line clr_1"></div>
      <ul class="list-unstyled submission-guidelines-list">
        <li><i class="fas fa-circle me-2 submission-guideline-icon"></i>Research papers submitted should not be previously published.</li>
        <li><i class="fas fa-circle me-2 submission-guideline-icon1"></i>All accepted and presented papers will be submitted for the possible inclusion in Scopus and Web of Science Journal.</li>
        <li><i class="fas fa-circle me-2 submission-guideline-icon"></i>Authors should take responsibilities for issues related to plagiarism (Must be less than 15%).</li>
        <li><i class="fas fa-circle me-2 submission-guideline-icon1"></i>Articles should be submitted only through EasyChair.</li>
        <li><i class="fas fa-circle me-2 submission-guideline-icon"></i>Submission Email: ncci@kristujayanti.com</li>
        <li><i class="fas fa-circle me-2 submission-guideline-icon1"></i>Conference website: www.kristujayanti.edu.in/ncci</li>
        <li><i class="fas fa-circle me-2 submission-guideline-icon"></i>Only the research articles accepted and presented during the conference will be considered for publication.</li>
        <li><i class="fas fa-circle me-2 submission-guideline-icon1"></i>Registration will be confirmed only after full payment of registration fee.</li>
      </ul>
    </div>

    <div class="section mb-4 submit-manuscript">
      <h3 class="submit-manuscript-heading text_c2">Submit Your Manuscript</h3>
      <div class="line clr_2"></div>
      <p class="submit-manuscript-text">Papers must be submitted as full paper electronically via the given link:</p>
      <a href="https://easychair.org/my/conference?conf=ncci2023" class=" ">Easy Submission Link</a>
      <p><a href="https://www.kristujayanti.edu.in/INCCI/downloads/instructions.pdf" class="">Download EasyChair Instructions for Authors</a></p>
    </div>

    <div class="section instructions-for-authors">
      <h3 class="instructions-for-authors-heading text_c1">Instructions for Authors</h3>
      <div class="line clr_1"></div>
      <ul class="list-unstyled instructions-for-authors-list">
        <li><i class="fas fa-circle me-2 instructions-for-authors-icon"></i>The Papers should be based on the original work and not yet published.</li>
        <li><i class="fas fa-circle me-2 instructions-for-authors-icon1"></i>Permissions (if of plagiarism) > 15%.</li>
        <li><i class="fas fa-circle me-2 instructions-for-authors-icon"></i>Paper Submission can be done through Easy Chair conference management system.</li>
        <li><i class="fas fa-circle me-2 instructions-for-authors-icon1"></i>Acceptance of papers for presentation / publication will be intimated to the authors via email.</li>
        <li><i class="fas fa-circle me-2 instructions-for-authors-icon"></i>Registration will be confirmed only after payment of registration fee.</li>
        <li><i class="fas fa-circle me-2 instructions-for-authors-icon1"></i>Research papers accepted and presented during the conference will be considered for publication.</li>
      </ul>
    </div>
    <div class="section instructions-for-authors">
        <h3 class="instructions-for-authors-heading text_c2">General guidelines</h3>
        <div class="line clr_2"></div>
        <ul class="list-unstyled instructions-for-authors-list">
          <li><i class="fas fa-circle me-2 instructions-for-authors-icon"></i>Accommodation can be arranged on prior request to the convincers</li>
          <li><i class="fas fa-circle me-2 instructions-for-authors-icon1"></i>Certificates will be issued only for registered participants attending the conference on both days</li>
    
        </ul>
      </div>




  </div>
  







<%- include('partials/footer') %>


  

  