* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

/* header  */

.navbar-custom {
    background-color: #34495E;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.6 );
  }
  
  .navbar-custom .navbar-nav .nav-link {
    color: #4677A0;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #2C3E50;
  }
  
  .logo {
    height: 3em;
  }
  
  @media (max-width: 991.98px) {
    .navbar-custom .navbar-nav {
      margin-top: 1rem;
    }
  }
  

  /* footer */

  footer {
    background-color: #1c1c1c;
    font-size: .8rem;
  }
  
  footer .nav-link {
    padding: 0.5rem 1rem;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;
    font-size: 0.7 rem;
  }
  
  footer .nav-link:hover {
    color: #1c1c1c;
   
  }
  
  footer .fab {
    font-size: 0.7 rem;
    transition: color 0.3s ease;
  }
  
  footer .fab:hover {
    color: #ccc;
  }
/*   
  @media (max-width: 767.98px) {
    footer .text-md-end {
      text-align: center !important;
    }
  
    footer .justify-content-md-end {
      justify-content: center !important;
    }
  } */

  /* about page */
  
.img-fluid{
  width: 6em;
  margin-left :0;
}
.text1{
  color: #2236b8;
}
.section {
  margin-bottom: 4rem;
}
.text_abt{

  opacity: 0.5;
}


/* CPF */
.top-margin1 {
  margin-top: 150px;
}
.top-margin {
  margin-top: 80px;
}

.card {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #333;
}

.fa-circle {
  color: #0b5fa3;
  border: 2px dotted black;
  border-radius: 50%;
  padding: 0.2rem;
  margin-right: 0.5rem;
}

/* committee */






.container1 {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

.text_c1{
  color: #159f84;
}
.text_c2{
  color: #3357cd;
  
}
 .text_c{
  color: #333;
}

.committee-section {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}
.line{
  height: 5px;
  width: 100%;

  margin-bottom: 10px;

}
.clr_1{
  background-color: #159f84;
}
.clr_2{
  background-color: #3357cd;
  color: #3357cd;
}
.bl{
  font-weight: bold;
}

/* .card1 {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.patron-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .patron-image img {
    width: 80px;
    height: 80px;
  }
} */



.patron-card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
  border-radius: 3%;
}

.patron-card:hover {
  transform: translateY(-5px);
}

.patron-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.patron-info {
  color: #333;
}

.patron-info .card-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.patron-info .card-text {
  font-size: 0.9rem;
  line-height: 1.4;
}

@media (max-width: 767.98px) {
  .patron-image img {
    width: 80px;
    height: 80px;
  }
}
.mtp{
  margin-top: 80px;
}






/* submmssion  */

.submission-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.submission-heading,
.submission-guidelines-heading,
.submit-manuscript-heading,
.instructions-for-authors-heading {
  
}

.section {
  margin-bottom: 30px;
}

.submission-guidelines-list li,
.instructions-for-authors-list li {
  margin-bottom: 10px;
}

.submission-guideline-icon,
.instructions-for-authors-icon {
  color: #159f84;
}
.submission-guideline-icon1,.instructions-for-authors-icon1{
  color:#0b5fa3 ;
}

/* about page */
.text-over-img {
  position: absolute;
  top: 15%;
  left: 10%;
}

.about_kjc, .about_cs, .about_lin {
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: justify;
  text-justify: inter-word;
}

.text-welcome, .text-kjc {
  font-weight: bold;
  font-size: 4em;
}

.text-kjc {
  color: #0B5FA3;
}

.text-to {
  color: black;
  font-size: 0.5em;
}

/* Media Query for responsiveness */
@media (max-width: 800px) {
  .text-welcome, .text-kjc {
    font-size: 1.2em; 
  }
}


@media only screen and (min-width: 600px) {
  .text-welcome, .text-kjc {
    font-size: 2em;
  }
}
@media only screen and (min-width: 768px) {
  .text-welcome, .text-kjc {
    font-size: 2.7em;
  }
}

@media only screen and (min-width: 1084px) {
  .text-welcome, .text-kjc {
    font-size: 4em;
  }
}
.position-relative{
  position: relative;
}

/* home page : index.ejs */

.background-gradient {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 15%,  rgba(255, 255, 255, 0) 60%); 
  padding: 20px; /* Adjust padding as needed */
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Set z-index to be below the text content */

}

.text-icci {
  color: #0B5FA3;
  font-weight: bold;
  font-size: 2.2rem;
  width: 40%;
  /* text-shadow: 3px 2px 2px #000f; */
}

.text-zindex1 {
  position: relative; /* Ensure text container is positioned relative */
  z-index: 2; /* Set z-index higher than background gradient */
}

.text-slng{
  width: 40%;
  font-weight: bold;
}

.home-btn {
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 20px;
  margin-top: 5%;
  color: #fff;
  box-shadow: 3px 2px 2px #000f;
}
.registration-btn{
  background-color: #0B5FA3;
}
.contact-btn{
  background-color: #159f84;
  margin-left: 20px;
}
.contact-btn:hover, .registration-btn:hover{
  box-shadow: none;
  transform: translate(3px,3px);
}



/* Slide bar  */

.sidebar {
  width: 350px;
  /* background-color: #f2f2f2; */
  padding: 30px 10px;
  margin-left: 20px;
  box-sizing: border-box;
}

.Preamble-txt{
  
  text-align: justify;
  text-justify: inter-word;
}
/* Important Dates container */
.important-dates-container {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.id-header {
  font-weight: bold;
  font-size: small;
  padding-top: 10px;
  width: 107%;
  height: 50px;
  background-color: #0077b6;
  color: #ffffff;
  text-align: center;
  transform: translate(-10px, -10px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.id-timeline {
  position: relative;
  padding: 10px 0;


}

.id-timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}


.outer{

  
  border-radius: 50%;
}

.id-timeline-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  padding: 2px;
  border: 2px solid black;
 
}

.id-timeline-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: calc(100% - 30px);
  height: 2px;
  background-color: #ccc;
}

.id-timeline-content {
  flex: 1;
}

.id-icon-green {
  background-color: #2e7d32;
}

.id-icon-blue {
  background-color: #1e88e5;
}

/* Responsive styles */
@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }

  .id-timeline-item {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }

  .id-timeline-icon {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .id-timeline-icon::before {
    top: 100%;
    left: 50%;
    width: 2px;
    height: calc(100% - 30px);
    transform: translateX(-50%);
  }
}



/*  */



.cnt1 {
  padding-left: 20px;
  padding-top: 50px;
}




/* ====circle animation==== */

@keyframes rotate {
	0%, 50% {
		transform: rotate(0deg) translateY(-150px) rotate(0deg);
	}
}

/* #centre { */
	/* position: fixed; */
	/* left: 50%;
	top: 50%; */
	/* transform: rotateZ(0.01deg); /* IE 10 bug */
  /* margin-left: 20%; */
  
/* } */ 

/* .circle {
	border-radius: 50%;
	 position: absolute; 
}

.middle {
	background-color: fuchsia;
	height: 200px;
	width: 200px;
	left: -100px;
	top: -100px;
}

.outer {
	animation: rotate 2s ease-out 1;
	height: 60px;
	width: 60px;
	left: -30px;
	top: -30px;
}

.at-8-oclock {
	background-color: red;
	transform: rotate(-120deg) translateY(-150px) rotate(120deg);
}

.at-10-oclock {
	background-color: yellow;
	transform: rotate(-60deg) translateY(-150px) rotate(60deg);
}

.at-12-oclock {
	background-color: green;
	transform: rotate(0deg) translateY(-150px) rotate(0deg);
	z-index: 2;
}

.at-2-oclock {
	background-color: blue;
	transform: rotate(60deg) translateY(-150px) rotate(-60deg);
	z-index: 1;
}

.at-4-oclock {
	background-color: purple;
	transform: rotate(120deg) translateY(-150px) rotate(-120deg);
} */

/* B1 */

/* .mainbx{
  height: 300px;
  width: 100%;
 
  display: flex;
  flex-direction: row;
  gap: 7%;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
.b1{

  height: 70%;
  width: 20%;
  border-radius: 7%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
  display: flex;
  flex-direction: column;
}
.ib1{
  height: 25%;
 width: 100%;
 background-color: #159f84;
 border-radius: 12px 12px 0 0;
 display: flex;
 align-items: center;
 justify-content: center;
}
.b1_text{
font-weight: 900;
color: white;

}
.b1cr{

  background-color: #0077B6;
}
.ib2{
  flex-direction: column;

    height: 75%;
   width: 100%;


}
.center_item{
  display: flex;
 align-items: center;
 justify-content: center;
}
.b1_img{
  height: 100%;
  width: 100%;
  border-radius: 0 0 12px 12px;

} */
.b1 {
  height: 250px;
  width: 100%;
  border-radius: 7%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.ib1 {
  height: 25%;
  width: 100%;
  background-color: #159f84;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b1_text {
  font-weight: 900;
  color: white;
}

.b1cr {
  background-color: #0077B6;
}

.ib2 {
  flex-direction: column;
  height: 75%;
  width: 100%;
}

.center_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.b1_img {
  height: 100%;
  width: 100%;
  border-radius: 0 0 12px 12px;
}

@media (max-width: 767px) {
  .b1 {
    height: auto;
  }
  .ib1 {
    height: 50px;
  }
  .ib2 {
    height: auto;
    padding: 10px;
  }
  .b1_img {
    border-radius: 0;
  }
}